<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de persona</h2>
            <h5>Para recivir apoyo</h5>
            <form>

                <div class="form-group">
                    <label>Identificación</label>
                    <input type="text" placeholder="Identificación" name="Identificación" [(ngModel)]="psn.identificacion" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" placeholder="Nombres" name="objeto" [(ngModel)]="psn.nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="Apellidos" [(ngModel)]="psn.apellido" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <select class="form-control" [(ngModel)]="psn.sexo" [ngModelOptions]="{standalone:true}">
                        <option selected value="Maculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Indefinido">Indefinido</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input type="number" name="Edad" [(ngModel)]="psn.edad" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Departamento</label>
                    <input type="text" name="Departamento" [(ngModel)]="psn.departamento" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Ciudad</label>
                    <input type="text" name="Ciudad" [(ngModel)]="psn.ciudad" class="form-control"/>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
