<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de persona</h2>
            <h5>Para recibir apoyo</h5>
            <form [formGroup]="registerForm">

                <div class="form-group">
                    <label>Identificación</label>
                    <input formControlName="identificacion" type="text" class="form-control" 
                        [ngClass]="{ 'is-invalid': f.identificacion.errors }"
                    />
                </div>
                <div class="form-group">
                    <label>Nombres</label>
                    <input formControlName="nombre" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': f.nombre.errors }"
                    />
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input formControlName="apellido" type="text" class="form-control"  
                    [ngClass]="{ 'is-invalid': f.apellido.errors }"
                />
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <select formControlName="sexo" class="form-control" [ngClass]="{ 'is-invalid': f.sexo.errors }">
                        <option selected value="Maculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Indefinido">Indefinido</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Edad</label>
                    <input formControlName="edad" type="number" class="form-control"
                    [ngClass]="{ 'is-invalid': f.edad.errors }">
                </div>
                <div class="form-group">
                    <label>Departamento</label>
                    <input formControlName="departamento" type="text"  class="form-control"
                    [ngClass]="{ 'is-invalid': f.departamento.errors }">
                </div>
                <div class="form-group">
                    <label>Ciudad</label>
                    <input formControlName="ciudad" type="text" class="form-control"
                    [ngClass]="{ 'is-invalid': f.ciudad.errors }">
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="onSumit()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
